// colors
$body-color: #f5f5f5;
$main-color: #000;
$second-color: #fff;
$third-color: #243043;
$forth-color: #818687;
$fifth-color: #8a8787;

//container size

$containerMaxWidth: 1400px;

$boxMaxWidth: 428px;
$boxMaxWidth2: 1905px;
//font size
$PrimaryFontSize: 20px
$SecondaryFontsize; 16px